Repository nipoppy/nipoppy, pull requests merged in 2024-10, with the labels that each got.

#382 [ENH] Add `_id` suffix to `bids_participant` and `bids_session`
  docs/source/conf.py
  nipoppy/data/descriptors/fmriprep-20.2.7.json
  nipoppy/data/descriptors/fmriprep-23.1.3.json
  nipoppy/data/examples/sample_invocations/dcm2bids-3.1.0-convert.json
  nipoppy/data/examples/sample_invocations/dcm2bids-3.1.0-prepare.json
  nipoppy/data/examples/sample_invocations/fmriprep-20.2.7.json
  nipoppy/data/examples/sample_invocations/fmriprep-23.1.3.json
  nipoppy/data/examples/sample_invocations/heudiconv-0.12.2-convert.json
  nipoppy/data/examples/sample_invocations/heudiconv-0.12.2-prepare.json
  nipoppy/data/examples/sample_tracker_configs/fmriprep-20.2.7.json
  nipoppy/data/examples/sample_tracker_configs/fmriprep-23.1.3.json
  nipoppy/data/examples/sample_tracker_configs/freesurfer-6.0.1.json
  nipoppy/data/examples/sample_tracker_configs/freesurfer-7.3.2.json
  nipoppy/data/examples/sample_tracker_configs/mriqc-23.1.0.json
  nipoppy/tabular/bagel.py
  nipoppy/tabular/doughnut.py
  nipoppy/utils.py
  nipoppy/workflows/dicom_reorg.py
  nipoppy/workflows/pipeline.py
  tests/conftest.py
  tests/test_tabular_bagel.py
  tests/test_utils.py
  tests/test_workflow_dicom_reorg.py
  tests/test_workflow_pipeline.py
  tests/test_workflow_runner.py
  tests/test_workflow_tracker.py
Labels: T.1 - Enhancement, P.0 - Breaking change

#352 [ENH] Make `TRACKER_CONFIG_FILE` part of pipeline step config instead of pipeline config
  docs/source/schemas/index.rst
  docs/source/user_guide/inserts/mriqc_bagel.csv
  docs/source/user_guide/tracking.md
  nipoppy/cli/parser.py
  nipoppy/cli/run.py
  nipoppy/config/pipeline_step.py
  nipoppy/config/tracker.py
  nipoppy/data/examples/sample_global_config-all_pipelines.json
  nipoppy/data/examples/sample_global_config-latest_pipelines.json
  nipoppy/data/examples/sample_tracker_configs/fmriprep-20.2.7.json
  nipoppy/data/examples/sample_tracker_configs/fmriprep-23.1.3.json
  nipoppy/data/examples/sample_tracker_configs/freesurfer-6.0.1.json
  nipoppy/data/examples/sample_tracker_configs/freesurfer-7.3.2.json
  nipoppy/data/examples/sample_tracker_configs/mriqc-23.1.0.json
  nipoppy/env.py
  nipoppy/tabular/bagel.py
  nipoppy/workflows/runner.py
  nipoppy/workflows/tracker.py
  tests/test_config_pipeline.py
  tests/test_config_pipeline_step.py
  tests/test_config_tracker.py
  tests/test_default_config.py
  tests/test_parser.py
  tests/test_tabular_bagel.py
  tests/test_workflow_pipeline.py
  tests/test_workflow_runner.py
  tests/test_workflow_tracker.py
Labels: T.1 - Enhancement, P.0 - Breaking change

#390 [API] make --dataset-root and positional arg.
  .github/workflows/project_automation.yml
  docs/source/quickstart.md
  docs/source/user_guide/bids_conversion.md
  docs/source/user_guide/inserts/custom_dicom_reorg.py
  docs/source/user_guide/organizing_imaging.md
  docs/source/user_guide/processing.md
  docs/source/user_guide/tracking.md
  nipoppy/cli/parser.py
  tests/test_cli.py
  tests/test_parser.py
Labels: T.1 - Enhancement, P.0 - Breaking change

#345 [BUG] keep working directory on failed run / flag to keep pipeline working directory on success
  nipoppy/cli/parser.py
  nipoppy/cli/run.py
  nipoppy/workflows/runner.py
  tests/test_workflow_runner.py
Labels: T.0 - Bug

#383 [ENH] Update pipeline config layout
  docs/source/conf.py
  docs/source/user_guide/processing.md
  docs/source/user_guide/tracking.md
  nipoppy/data/examples/sample_global_config-all_pipelines.json
  nipoppy/data/examples/sample_global_config-latest_pipelines.json
  nipoppy/data/examples/sample_pipelines/bidscoin-4.3.2/descriptor-bidscoiner.json
  nipoppy/data/examples/sample_pipelines/bidscoin-4.3.2/descriptor-bidseditor.json
  nipoppy/data/examples/sample_pipelines/bidscoin-4.3.2/descriptor-bidsmapper.json
  nipoppy/data/examples/sample_pipelines/bidscoin-4.3.2/invocation-convert.json
  nipoppy/data/examples/sample_pipelines/bidscoin-4.3.2/invocation-edit.json
  nipoppy/data/examples/sample_pipelines/bidscoin-4.3.2/invocation-prepare.json
  nipoppy/data/examples/sample_pipelines/dcm2bids-3.1.0/descriptor-dcm2bids.json
  nipoppy/data/examples/sample_pipelines/dcm2bids-3.1.0/descriptor-dcm2bids_helper.json
  nipoppy/data/examples/sample_pipelines/dcm2bids-3.1.0/invocation-convert.json
  nipoppy/data/examples/sample_pipelines/dcm2bids-3.1.0/invocation-prepare.json
  nipoppy/data/examples/sample_pipelines/fmriprep-20.2.7/descriptor.json
  nipoppy/data/examples/sample_pipelines/fmriprep-20.2.7/invocation.json
  nipoppy/data/examples/sample_pipelines/fmriprep-20.2.7/tracker_config.json
  nipoppy/data/examples/sample_pipelines/fmriprep-23.1.3/descriptor.json
  nipoppy/data/examples/sample_pipelines/fmriprep-23.1.3/invocation.json
  nipoppy/data/examples/sample_pipelines/fmriprep-23.1.3/tracker_config.json
  nipoppy/data/examples/sample_pipelines/freesurfer-6.0.1/tracker_config.json
  nipoppy/data/examples/sample_pipelines/freesurfer-7.3.2/tracker_config.json
  nipoppy/data/examples/sample_pipelines/heudiconv-0.12.2/descriptor.json
  nipoppy/data/examples/sample_pipelines/heudiconv-0.12.2/invocation-convert.json
  nipoppy/data/examples/sample_pipelines/heudiconv-0.12.2/invocation-prepare.json
  nipoppy/data/examples/sample_pipelines/mriqc-23.1.0/descriptor.json
  nipoppy/data/examples/sample_pipelines/mriqc-23.1.0/invocation.json
  nipoppy/data/examples/sample_pipelines/mriqc-23.1.0/tracker_config.json
  nipoppy/data/layouts/layout-0.1.0.json
  nipoppy/data/layouts/layout-default.json
  nipoppy/layout.py
  nipoppy/utils.py
  nipoppy/workflows/dataset_init.py
  tests/conftest.py
  tests/data/layout1.json
  tests/data/layout2.json
  tests/data/layout_invalid1.json
  tests/data/layout_invalid2.json
  tests/test_default_config.py
  tests/test_layout.py
Labels: T.1 - Enhancement, P.0 - Breaking change

#391 [BUG] Do not pool BIDS and PROC pipelines together when searching pipeline configs
  docs/source/conf.py
  nipoppy/config/main.py
  nipoppy/workflows/bids_conversion.py
  nipoppy/workflows/pipeline.py
  tests/test_config_main.py
  tests/test_workflow_bids_conversion.py
  tests/test_workflow_pipeline.py
Labels: T.0 - Bug

#404 [ENH] Rename doughnut columns
  nipoppy/tabular/doughnut.py
  nipoppy/workflows/dicom_reorg.py
  tests/conftest.py
  tests/data/doughnut1.tsv
  tests/data/doughnut2.tsv
  tests/data/doughnut_invalid2.tsv
  tests/test_tabular_doughnut.py
  tests/test_workflow_bids_conversion.py
  tests/test_workflow_dicom_reorg.py
  tests/test_workflow_doughnut.py
  tests/test_workflow_runner.py
  tests/test_workflow_tracker.py
Labels: T.1 - Enhancement, P.0 - Breaking change

#406 [ENH] make fmriprep `--fs-no-reconall` value-key and id more intuitive.
  nipoppy/data/descriptors/fmriprep-20.2.7.json
  nipoppy/data/descriptors/fmriprep-23.1.3.json
Labels: T.1 - Enhancement

#408 [DOC] Update file trees in user guide page for DICOM reorg
  docs/source/user_guide/inserts/custom_dicom_reorg-after.txt
  docs/source/user_guide/inserts/custom_dicom_reorg-before.txt
  docs/source/user_guide/inserts/default_dicom_reorg-after.txt
  docs/source/user_guide/inserts/default_dicom_reorg-before.txt
Labels: T.3 - Documentation

#410 [FIX] Do not enable markup language processing when logging messages related to subprocesses
  nipoppy/workflows/base.py
  tests/test_workflow_base.py
Labels: T.0 - Bug

#412 [DOC] Update dataset layout figure
  docs/source/_static/img/nipoppy_specification.jpg
Labels: T.3 - Documentation
