Repository nipoppy/nipoppy, pull requests merged in 2024-08, with the labels that each got.

#322 [ENH] add automatic release notes for GitHub.
  .github/release.yml
  .github/workflows/build_and_publish.yml
Labels: T.1 - Enhancement

#299 [FIX] Fix various bugs in sample JSON config files
  nipoppy_cli/nipoppy/data/examples/sample_global_config-all_pipelines.json
  nipoppy_cli/nipoppy/data/examples/sample_global_config-latest_pipelines.json
  nipoppy_cli/nipoppy/data/examples/sample_invocations/dcm2bids-3.1.0-convert.json
  nipoppy_cli/nipoppy/data/examples/sample_invocations/dcm2bids-3.1.0-prepare.json
  nipoppy_cli/nipoppy/data/examples/sample_tracker_configs/mriqc-23.1.0.json
  nipoppy_cli/pyproject.toml
  nipoppy_cli/tests/test_default_config.py
Labels: T.0 - Bug, C.1 - Software, P.2 - Minor patch, S.3 - In progress

#330 [BUG] Fix error when using invalid verbosity level
  nipoppy_cli/nipoppy/cli/parser.py
  nipoppy_cli/nipoppy/cli/run.py
  nipoppy_cli/tests/test_parser.py
Labels: T.0 - Bug, C.1 - Software, P.2 - Minor patch, S.4 - Pending review

#314 [BUG] Heudiconv invocation fix
  nipoppy_cli/nipoppy/data/examples/sample_invocations/heudiconv-0.12.2-convert.json
  nipoppy_cli/nipoppy/data/examples/sample_invocations/heudiconv-0.12.2-prepare.json
Labels: T.0 - Bug, C.1 - Software, P.2 - Minor patch, S.3 - In progress

#338 [MAINT] automatically label issue and PRs based on prefixes
  .github/pr-prefix-labeler.yml
  .github/workflows/label_new_PR.yml
  .github/workflows/label_new_issue.yml
Labels: T.2 - Maintenance

#326 [DOC] Update installation instructions
  README.md
  docs/source/contributing.md
  docs/source/index.md
  docs/source/installation.md
Labels: T.3 - Documentation, T.2 - Maintenance, P.2 - Minor patch
