Repository nipoppy/nipoppy, pull requests merged in 2024-09, with the labels that each got.

#344 [BUG] Fix `label_new_issue.yml` failing
  .github/workflows/label_new_issue.yml
Labels: T.0 - Bug

#341 [ENH] Add `"ANALYSIS_LEVEL"` field to pipeline step config to allow group-level processing
  nipoppy/config/pipeline.py
  nipoppy/config/pipeline_step.py
  nipoppy/data/examples/sample_global_config-all_pipelines.json
  nipoppy/data/examples/sample_global_config-latest_pipelines.json
  nipoppy/tabular/bagel.py
  nipoppy/utils.py
  nipoppy/workflows/pipeline.py
  tests/test_config_pipeline.py
  tests/test_config_pipeline_step.py
  tests/test_utils.py
  tests/test_workflow_pipeline.py
Labels: T.1 - Enhancement

#356 [BUG] Fix logging issues
  nipoppy/cli/run.py
  nipoppy/env.py
  nipoppy/logger.py
  pyproject.toml
  tests/test_logger.py
Labels: T.0 - Bug

#361 [DOC] Add auto-generated changelog page to docs
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/index.md
  pyproject.toml
Labels: T.3 - Documentation

#362 [MAINT] Refactor pipeline step config in workflow classes
  nipoppy/config/main.py
  nipoppy/config/pipeline.py
  nipoppy/workflows/base.py
  nipoppy/workflows/bids_conversion.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/runner.py
  tests/test_config_pipeline.py
  tests/test_workflow_pipeline.py
  tests/test_workflow_tracker.py
Labels: T.2 - Maintenance

#365 [FIX] Support latest version of doc dependencies
  docs/source/_templates/autoapi/index.rst
  docs/source/conf.py
  nipoppy/config/boutiques.py
  nipoppy/config/container.py
  nipoppy/config/main.py
  nipoppy/config/pipeline.py
  nipoppy/config/pipeline_step.py
  pyproject.toml
  tests/test_config_container.py
Labels: T.0 - Bug

#375 [DOC] Update contribution guide
  docs/source/contributing.md
  docs/source/installation.md
Labels: T.3 - Documentation

#359 [MAINT] test with python 3.13
  .github/workflows/run_tests.yml
Labels: T.2 - Maintenance

#377 [BUG] Fix logo again...
  README.md
Labels: T.0 - Bug
