Repository nipoppy/nipoppy, pull requests merged in 2024-12, with the labels that each got.

#449 [MAINT] Exclude PyBIDS version 0.18.0 from dependencies
  pyproject.toml
Labels: T.2 - Maintenance

#419 [ENH] Add status command to display high-level participant counts
  nipoppy/cli/parser.py
  nipoppy/cli/run.py
  nipoppy/workflows/base.py
  nipoppy/workflows/dataset_status.py
  tests/test_cli.py
  tests/test_parser.py
  tests/test_workflow_dataset_status.py
Labels: T.1 - Enhancement

#399 [ENH] add `nipoppy extract` command
  docs/source/cli_reference/bidsify.md
  docs/source/cli_reference/extract.md
  docs/source/cli_reference/index.md
  docs/source/conf.py
  docs/source/glossary.md
  docs/source/schemas/index.rst
  docs/source/user_guide/bids_conversion.md
  docs/source/user_guide/extraction.md
  docs/source/user_guide/inserts/pipeline_derivatives.txt
  docs/source/user_guide/processing.md
  docs/source/user_guide/tracking.md
  nipoppy/cli/parser.py
  nipoppy/cli/run.py
  nipoppy/config/main.py
  nipoppy/config/pipeline.py
  nipoppy/config/pipeline_step.py
  nipoppy/layout.py
  nipoppy/workflows/__init__.py
  nipoppy/workflows/base.py
  nipoppy/workflows/bids_conversion.py
  nipoppy/workflows/extractor.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/runner.py
  nipoppy/workflows/tracker.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_config_main.py
  tests/test_config_pipeline.py
  tests/test_config_pipeline_step.py
  tests/test_layout.py
  tests/test_parser.py
  tests/test_workflow_base.py
  tests/test_workflow_bids_conversion.py
  tests/test_workflow_extractor.py
  tests/test_workflow_pipeline.py
  tests/test_workflow_runner.py
Labels: T.1 - Enhancement

#342 [ENH] Add FreeSurfer aparc/aseg stats extractor
  nipoppy/data/examples/sample_global_config-all_pipelines.json
  nipoppy/data/examples/sample_global_config-latest_pipelines.json
  nipoppy/data/examples/sample_pipelines/freesurfer_stats_and_qc-0.1.0/descriptor.json
  nipoppy/data/examples/sample_pipelines/freesurfer_stats_and_qc-0.1.0/invocation.json
  nipoppy/data/examples/sample_pipelines/freesurfer_stats_and_qc-0.1.0/script.py
  nipoppy/workflows/extractor.py
  nipoppy/workflows/pipeline.py
  tests/test_default_config.py
  tests/test_workflow_extractor.py
  tests/test_workflow_pipeline.py
Labels: T.1 - Enhancement, pipeline catalog

#428 [ENH] Rename some input IDs in MRIQC descriptor
  nipoppy/data/examples/sample_pipelines/mriqc-23.1.0/descriptor.json
Labels: T.1 - Enhancement, pipeline catalog

#430 [ENH] Add `--tar` option to `nipoppy run`
  nipoppy/cli/parser.py
  nipoppy/config/tracker.py
  nipoppy/data/examples/sample_pipelines/fmriprep-20.2.7/tracker_config.json
  nipoppy/data/examples/sample_pipelines/fmriprep-23.1.3/tracker_config.json
  nipoppy/data/examples/sample_pipelines/fmriprep-24.1.1/tracker_config.json
  nipoppy/data/examples/sample_pipelines/freesurfer-6.0.1/tracker_config.json
  nipoppy/data/examples/sample_pipelines/freesurfer-7.3.2/tracker_config.json
  nipoppy/env.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/runner.py
  nipoppy/workflows/tracker.py
  tests/test_config_tracker.py
  tests/test_parser.py
  tests/test_workflow_runner.py
Labels: T.1 - Enhancement
