Repository nipoppy/nipoppy, pull requests merged in 2025-08, with the labels that each got.

#718 [BUG] Fix incompatibility with `pysqa` `0.3.0`
  nipoppy/workflows/pipeline.py
  tests/unit/workflows/test_pipeline.py
Labels: T.0 - Bug

#724 [BUG] Fix logfile being created even if layout validation fails
  nipoppy/workflows/base.py
  tests/unit/test_utils.py
  tests/unit/workflows/test_dataset.py
Labels: T.0 - Bug

#730 [MAINT] Enable colors in GH actions.
  pyproject.toml
Labels: T.2 - Maintenance

#667 [DOC] Modify quickstart according to issue#653
  docs/source/how_to_guides/user_guide/bids_conversion.md
  docs/source/how_to_guides/user_guide/extraction.md
  docs/source/how_to_guides/user_guide/organizing_imaging.md
  docs/source/how_to_guides/user_guide/populating.md
  docs/source/how_to_guides/user_guide/processing.md
  docs/source/how_to_guides/user_guide/tracking.md
  docs/source/index.md
  docs/source/overview/installation.md
  docs/source/overview/quickstart.md
  docs/source/overview/quickstart/example-dataset_manifest.tsv
  docs/source/overview/quickstart/index.md
Labels: T.3 - Documentation

#742 [ENH] Add `--use-subcohort` argument to `nipoppy process`/`bidsify`/`extract`
  nipoppy/cli/cli.py
  nipoppy/cli/options.py
  nipoppy/workflows/bids_conversion.py
  nipoppy/workflows/extractor.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/runner.py
  tests/unit/test_cli.py
  tests/unit/workflows/test_bids_conversion.py
  tests/unit/workflows/test_extractor.py
  tests/unit/workflows/test_pipeline.py
  tests/unit/workflows/test_runner.py
Labels: T.1 - Enhancement

#740 [DOC] add first tutorial videos to docs
  docs/source/index.md
  docs/source/tutorials/videos/how-to.md
  docs/source/tutorials/videos/index.md
  docs/source/tutorials/videos/what-is.md
Labels: T.3 - Documentation, T.1 - Enhancement

#753 [ENH] Increase timeout for Zenodo search + Give feedback while waiting
  nipoppy/zenodo_api.py
Labels: T.1 - Enhancement
