Repository nipoppy/nipoppy, pull requests merged in 2025-05, with the labels that each got.

#581 [MAINT] Update release workflow to use Nipoppy bot token instead of default token
  .github/workflows/build_and_publish.yml
Labels: T.2 - Maintenance

#622 [ENH] Make `HPC_CONFIG_FILE` use a relative path
  nipoppy/data/examples/sample_global_config.json
  nipoppy/pipeline_store/__init__.py
  nipoppy/pipeline_validation.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/pipeline_store/install.py
  nipoppy/workflows/pipeline_store/validate.py
  nipoppy/workflows/pipeline_store/zenodo.py
  tests/data/fmriprep-24.1.1/config.json
  tests/data/fmriprep-24.1.1/hpc_config.json
  tests/data/hpc_config-invalid.json
  tests/data/hpc_config-valid.json
  tests/test_pipeline_validation.py
  tests/test_workflow_pipeline.py
  tests/test_workflow_zenodo.py
  tests/test_zenodo_api.py
Labels: T.1 - Enhancement

#587 [ENH] Add HPC integration
  nipoppy/cli.py
  nipoppy/config/hpc.py
  nipoppy/config/main.py
  nipoppy/config/pipeline_step.py
  nipoppy/data/examples/sample_global_config.json
  nipoppy/data/hpc/clusters.yaml
  nipoppy/data/hpc/job_script_template.sh
  nipoppy/data/hpc/sge.yaml
  nipoppy/data/hpc/slurm.yaml
  nipoppy/data/layouts/layout-0.1.0.json
  nipoppy/data/layouts/layout-0.2.x.json
  nipoppy/data/layouts/layout-default.json
  nipoppy/layout.py
  nipoppy/pipeline_store/__init__.py
  nipoppy/pipeline_validation.py
  nipoppy/utils.py
  nipoppy/workflows/bids_conversion.py
  nipoppy/workflows/dataset_init.py
  nipoppy/workflows/extractor.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/pipeline_store/install.py
  nipoppy/workflows/pipeline_store/validate.py
  nipoppy/workflows/pipeline_store/zenodo.py
  nipoppy/workflows/runner.py
  pyproject.toml
  tests/conftest.py
  tests/data/fmriprep-24.1.1/config.json
  tests/data/fmriprep-24.1.1/hpc_config.json
  tests/data/hpc_config-invalid.json
  tests/data/hpc_config-valid.json
  tests/data/layout1.json
  tests/data/layout2.json
  tests/data/layout_invalid1.json
  tests/data/layout_invalid2.json
  tests/test_config_hpc.py
  tests/test_config_main.py
  tests/test_config_pipeline_step.py
  tests/test_layout.py
  tests/test_pipeline_validation.py
  tests/test_workflow_bids_conversion.py
  tests/test_workflow_extractor.py
  tests/test_workflow_init.py
  tests/test_workflow_pipeline.py
  tests/test_workflow_runner.py
  tests/test_workflow_zenodo.py
  tests/test_zenodo_api.py
Labels: T.1 - Enhancement

#613 [BUG] Read-only BIDS datasets fail to init w/ README creation
  nipoppy/workflows/dataset_init.py
  tests/test_workflow_init.py
Labels: T.0 - Bug

#621 [DOC] High level docs
  docs/Makefile
  docs/source/_static/img/nipoppy_protocol.jpg
  docs/source/_static/img/nipoppy_usecases.jpg
  docs/source/_static/img/why_nipoppy_comic.png
  docs/source/conf.py
  docs/source/glossary.md
  docs/source/how_to_guides/init/non_bids.md
  docs/source/how_to_guides/user_guide/bids_conversion.md
  docs/source/how_to_guides/user_guide/extraction.md
  docs/source/how_to_guides/user_guide/global_config.md
  docs/source/how_to_guides/user_guide/index.md
  docs/source/how_to_guides/user_guide/inserts/apptainer_stub.md
  docs/source/how_to_guides/user_guide/inserts/boutiques_stub.md
  docs/source/how_to_guides/user_guide/inserts/custom_dicom_reorg-after.txt
  docs/source/how_to_guides/user_guide/inserts/custom_dicom_reorg-before.txt
  docs/source/how_to_guides/user_guide/inserts/custom_dicom_reorg.py
  docs/source/how_to_guides/user_guide/inserts/default_dicom_reorg-after.txt
  docs/source/how_to_guides/user_guide/inserts/default_dicom_reorg-before.txt
  docs/source/how_to_guides/user_guide/inserts/example_descriptor.json
  docs/source/how_to_guides/user_guide/inserts/example_invocation.json
  docs/source/how_to_guides/user_guide/inserts/mriqc-23.1.0-tracker_config.json
  docs/source/how_to_guides/user_guide/inserts/mriqc_outputs.txt
  docs/source/how_to_guides/user_guide/inserts/mriqc_processing_status.tsv
  docs/source/how_to_guides/user_guide/organizing_imaging.md
  docs/source/how_to_guides/user_guide/organizing_tabular.md
  docs/source/how_to_guides/user_guide/populating.md
  docs/source/how_to_guides/user_guide/processing.md
  docs/source/how_to_guides/user_guide/tracking.md
  docs/source/index.md
  docs/source/overview/installation.md
  docs/source/overview/quickstart.md
  docs/source/overview/why_nipoppy/index.md
  docs/source/overview/why_nipoppy/principles.md
  docs/source/overview/why_nipoppy/use_cases.md
  tests/test_tabular_processing_status.py
Labels: T.3 - Documentation

#627 [FIX] Do not apply substitutions immediately when loading invocations
  nipoppy/workflows/pipeline.py
  tests/test_workflow_pipeline.py
Labels: T.0 - Bug

#624 [FIX] Do not create directories when running `nipoppy track`
  nipoppy/cli.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/runner.py
  tests/test_workflow_pipeline.py
  tests/test_workflow_tracker.py
Labels: T.0 - Bug

#631 [DOC] Add "how-to" guides for installing and running pipelines
  docs/source/cli_reference/bidsify.rst
  docs/source/cli_reference/extract.rst
  docs/source/cli_reference/index.rst
  docs/source/cli_reference/pipeline_install.rst
  docs/source/cli_reference/pipeline_list.rst
  docs/source/cli_reference/pipeline_search.rst
  docs/source/cli_reference/pipeline_upload.rst
  docs/source/cli_reference/pipeline_validate.rst
  docs/source/cli_reference/process.rst
  docs/source/cli_reference/reorg.rst
  docs/source/cli_reference/track_curation.rst
  docs/source/cli_reference/track_processing.rst
  docs/source/how_to_guides/pipeline_install/index.md
  docs/source/how_to_guides/pipeline_run/index.md
  docs/source/how_to_guides/user_guide/bids_conversion.md
  docs/source/how_to_guides/user_guide/extraction.md
  docs/source/how_to_guides/user_guide/global_config.md
  docs/source/how_to_guides/user_guide/index.md
  docs/source/how_to_guides/user_guide/organizing_imaging.md
  docs/source/how_to_guides/user_guide/organizing_tabular.md
  docs/source/how_to_guides/user_guide/populating.md
  docs/source/how_to_guides/user_guide/processing.md
  docs/source/how_to_guides/user_guide/tracking.md
  docs/source/index.md
Labels: T.3 - Documentation

#640 [FIX] Fix Zenodo upload bug where metadata check fails
  nipoppy/workflows/pipeline_store/zenodo.py
  tests/test_workflow_zenodo.py
Labels: T.0 - Bug

#638 [ENH] Add indenting to `rich` `Console` printing
  nipoppy/console.py
  nipoppy/logger.py
  nipoppy/workflows/dataset_status.py
  nipoppy/workflows/pipeline_store/install.py
  nipoppy/workflows/pipeline_store/search.py
  nipoppy/workflows/pipeline_store/zenodo.py
  tests/test_console.py
  tests/test_workflow_pipeline_store_install.py
  tests/test_workflow_pipeline_store_search.py
  tests/test_workflow_zenodo.py
Labels: T.1 - Enhancement

#649 [DOC] Update Quickstart and add file schemas
  docs/scripts/pydantic_to_jsonschema.py
  docs/source/conf.py
  docs/source/contributing.md
  docs/source/overview/installation.md
  docs/source/overview/quickstart.md
  docs/source/schemas/index.rst
  docs/source/schemas/schema_howto.md
Labels: T.3 - Documentation, T.1 - Enhancement

#528 [DOC] Add "how-to" guide for creating a manifest file
  .gitignore
  docs/source/conf.py
  docs/source/explanations/manifest.md
  docs/source/glossary.md
  docs/source/how_to_guides/init/non_bids.md
  docs/source/how_to_guides/manifest/example1.md
  docs/source/how_to_guides/manifest/example2.md
  docs/source/how_to_guides/manifest/example3.md
  docs/source/how_to_guides/manifest/index.md
  docs/source/how_to_guides/manifest/inserts/example1-generate_manifest.py
  docs/source/how_to_guides/manifest/inserts/example1-manifest.tsv
  docs/source/how_to_guides/manifest/inserts/example1-participants.csv
  docs/source/how_to_guides/manifest/inserts/example2-demographics_neuropsych.csv
  docs/source/how_to_guides/manifest/inserts/example2-generate_manifest.py
  docs/source/how_to_guides/manifest/inserts/example2-manifest.tsv
  docs/source/how_to_guides/manifest/inserts/example2-mri.csv
  docs/source/how_to_guides/manifest/inserts/example3-file_tree.txt
  docs/source/how_to_guides/manifest/inserts/example3-generate_manifest.py
  docs/source/how_to_guides/manifest/inserts/example3-manifest.tsv
  docs/source/how_to_guides/manifest/inserts/recruitment.tsv
  docs/source/index.md
Labels: T.3 - Documentation

#652 [DOC] Add tutorial: Nipoppy + MRIQC from BIDS dataset
  docs/source/glossary.md
  docs/source/how_to_guides/init/non_bids.md
  docs/source/index.md
  docs/source/overview/installation.md
  docs/source/overview/why_nipoppy/principles.md
  docs/source/tutorials/mriqc_from_bids/index.md
Labels: T.3 - Documentation
