Repository nipoppy/nipoppy, pull requests merged in 2025-09, with the labels that each got.

#755 [MAINT] Mock ZenodoAPI in workflow tests
  tests/conftest.py
  tests/unit/workflows/pipeline_store/test_install.py
  tests/unit/workflows/pipeline_store/test_search.py
  tests/unit/workflows/pipeline_store/test_upload.py
Labels: T.2 - Maintenance

#735 [ENH] added check for empty pre- and post-reorg stages
  nipoppy/workflows/dataset_status.py
  tests/unit/workflows/test_status.py
Labels: T.1 - Enhancement

#729 [MAINT] Parallelize tests with xdist
  .github/workflows/run_tests.yml
  .gitignore
  .readthedocs.yaml
  pyproject.toml
  tests/conftest.py
  tests/unit/workflows/test_base.py
Labels: T.2 - Maintenance

#762 [BUG] Fix CLI command options not matching workflow init args
  docs/source/cli_reference/pipeline_upload.rst
  nipoppy/cli/pipeline_catalog.py
  nipoppy/workflows/pipeline_store/upload.py
  tests/unit/test_cli.py
  tests/unit/workflows/pipeline_store/test_upload.py
Labels: T.0 - Bug

#750 [DOC] Add "how-to" guide for tracking curation/processing status
  docs/source/conf.py
  docs/source/how_to_guides/parallelization/hpc_scheduler.md
  docs/source/how_to_guides/pipeline_install/index.md
  docs/source/how_to_guides/tabular_data/index.md
  docs/source/how_to_guides/tracking/index.md
  docs/source/how_to_guides/tracking/mriqc-23.1.0-tracker_config.json
  docs/source/how_to_guides/tracking/mriqc_config.json
  docs/source/how_to_guides/tracking/mriqc_outputs.txt
  docs/source/how_to_guides/tracking/mriqc_processing_status.tsv
  docs/source/index.md
Labels: T.3 - Documentation

#757 [ENH] Add progress bar for `nipoppy track-processing`
  nipoppy/console.py
  nipoppy/logger.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/runner.py
  nipoppy/workflows/tracker.py
  tests/unit/workflows/test_pipeline.py
Labels: T.1 - Enhancement

#760 [ENH] Do not overwrite existing pipeline variables when installing a pipeline
  nipoppy/workflows/pipeline_store/install.py
  tests/unit/workflows/pipeline_store/test_install.py
Labels: T.1 - Enhancement

#781 [ENH] Make minor improvements to `nipoppy pipeline search` output table
  nipoppy/utils/html.py
  nipoppy/workflows/pipeline_store/search.py
  tests/unit/utils/test_bids.py
  tests/unit/utils/test_html.py
  tests/unit/utils/test_utils.py
  tests/unit/workflows/pipeline_store/test_search.py
Labels: T.1 - Enhancement
