Repository nipoppy/nipoppy, pull requests merged in 2025-07, with the labels that each got.

#682 [ENH]: allow forced dataset init on non-empty dirs
  nipoppy/cli.py
  nipoppy/workflows/base.py
  nipoppy/workflows/dataset_init.py
  tests/test_workflow_init.py
Labels: T.1 - Enhancement

#690 [BUG] Exit with non-zero code if no participants/sessions were found when running a pipeline
  nipoppy/env.py
  nipoppy/workflows/pipeline.py
  tests/test_workflow_pipeline.py
Labels: T.0 - Bug

#686 [ENH] Let `bosh` handle container launching
  nipoppy/config/container.py
  nipoppy/env.py
  nipoppy/workflows/bids_conversion.py
  nipoppy/workflows/extractor.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/pipeline_store/install.py
  nipoppy/workflows/runner.py
  pyproject.toml
  tests/test_config_container.py
  tests/test_workflow_bids_conversion.py
  tests/test_workflow_extractor.py
  tests/test_workflow_pipeline_store_install.py
  tests/test_workflow_runner.py
Labels: T.1 - Enhancement

#696 [DOC] added minimal guidelines to organize tabular data
  docs/source/conf.py
  docs/source/explanations/manifest.md
  docs/source/how_to_guides/tabular_data/index.md
  docs/source/how_to_guides/tabular_data/inserts/example1-assessment.tsv
  docs/source/how_to_guides/tabular_data/inserts/example1-demographics.tsv
  docs/source/how_to_guides/user_guide/index.md
  docs/source/how_to_guides/user_guide/organizing_tabular.md
  docs/source/how_to_guides/user_guide/populating.md
  docs/source/index.md
  docs/source/overview/quickstart.md
Labels: T.3 - Documentation

#697 [MAINT] Refactor Zenodo API tests and increase coverage
  .github/workflows/run_tests.yml
  codecov.yml
  nipoppy/zenodo_api.py
  pyproject.toml
  tests/test_zenodo_api.py
  tests/test_zenodo_api_integration.py
Labels: T.2 - Maintenance

#699 [MAINT] Refactor cli structure and tests
  docs/source/cli_reference/bidsify.rst
  docs/source/cli_reference/extract.rst
  docs/source/cli_reference/index.rst
  docs/source/cli_reference/init.rst
  docs/source/cli_reference/pipeline_install.rst
  docs/source/cli_reference/pipeline_list.rst
  docs/source/cli_reference/pipeline_search.rst
  docs/source/cli_reference/pipeline_upload.rst
  docs/source/cli_reference/pipeline_validate.rst
  docs/source/cli_reference/process.rst
  docs/source/cli_reference/reorg.rst
  docs/source/cli_reference/status.rst
  docs/source/cli_reference/track_curation.rst
  docs/source/cli_reference/track_processing.rst
  nipoppy/cli/__init__.py
  nipoppy/cli/cli.py
  nipoppy/cli/options.py
  nipoppy/cli/pipeline_catalog.py
  nipoppy/env.py
  pyproject.toml
  tests/unit/test_cli.py
Labels: T.2 - Maintenance

#630 [ENH] Improve log error messages
  nipoppy/cli.py
  nipoppy/cli/cli.py
  nipoppy/config/container.py
  nipoppy/logger.py
  nipoppy/workflows/base.py
  nipoppy/workflows/dataset_init.py
  nipoppy/workflows/dicom_reorg.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/pipeline_store/install.py
  nipoppy/workflows/pipeline_store/list.py
  nipoppy/workflows/pipeline_store/validate.py
  nipoppy/workflows/track_curation.py
  tests/unit/test_logger.py
  tests/unit/workflows/pipeline_store/test_list.py
  tests/unit/workflows/pipeline_store/test_validate.py
  tests/unit/workflows/test_base.py
  tests/unit/workflows/test_dicom_reorg.py
  tests/unit/workflows/test_pipeline.py
  tests/unit/workflows/test_runner.py
  tests/unit/workflows/test_track_curation.py
Labels: T.1 - Enhancement
