Repository nipoppy/nipoppy, pull requests merged in 2025-02, with the labels that each got.

#479 [BUG] Update Sigstore action version
  .github/workflows/build_and_publish.yml
Labels: T.0 - Bug

#485 [BUG] Fix paths in `fs_stats` extractor default invocation
  nipoppy/data/examples/sample_pipelines/fs_stats-0.2.0/invocation.json
Labels: T.0 - Bug

#477 [ENH] Make HPC support more robust/user-friendly
  nipoppy/cli/parser.py
  nipoppy/config/hpc.py
  nipoppy/config/main.py
  nipoppy/config/pipeline.py
  nipoppy/data/examples/sample_global_config-all_pipelines.json
  nipoppy/data/examples/sample_global_config-latest_pipelines.json
  nipoppy/data/hpc/clusters.yaml
  nipoppy/data/hpc/job_script_template.sh
  nipoppy/data/hpc/sge.yaml
  nipoppy/data/hpc/slurm.yaml
  nipoppy/data/hpc_templates/sge/queue.yaml
  nipoppy/data/hpc_templates/sge/sge.sh
  nipoppy/data/hpc_templates/slurm/queue.yaml
  nipoppy/data/hpc_templates/slurm/slurm.sh
  nipoppy/data/layouts/layout-0.1.0.json
  nipoppy/data/layouts/layout-0.2.x.json
  nipoppy/data/layouts/layout-default.json
  nipoppy/layout.py
  nipoppy/utils.py
  nipoppy/workflows/dataset_init.py
  nipoppy/workflows/pipeline.py
  pyproject.toml
  tests/conftest.py
  tests/data/layout1.json
  tests/data/layout2.json
  tests/data/layout_invalid1.json
  tests/data/layout_invalid2.json
  tests/test_config_hpc.py
  tests/test_config_main.py
  tests/test_layout.py
  tests/test_workflow_init.py
  tests/test_workflow_pipeline.py
Labels: T.1 - Enhancement

#490 [BUG] Fix `nipoppy init` in existing dirs.
  nipoppy/workflows/dataset_init.py
  tests/test_workflow_init.py
Labels: T.0 - Bug

#495 [BUG] Fix bug in invocation file for `dcm2bids`'s `prepare` step
  nipoppy/data/examples/sample_global_config-all_pipelines.json
  nipoppy/data/examples/sample_global_config-latest_pipelines.json
  nipoppy/data/examples/sample_pipelines/dcm2bids-3.1.0/descriptor-dcm2bids_helper.json
  nipoppy/data/examples/sample_pipelines/dcm2bids-3.1.0/invocation-prepare.json
Labels: T.0 - Bug, pipeline catalog

#499 [DOC] Use SVG path for logo text
  logo/logo_with_name.svg
Labels: T.3 - Documentation

#509 [MAINT] Fix/update issue labeller
  .github/labeler.yml
  .github/pr-prefix-labeler.yml
  .github/workflows/label_issues_and_PRs.yml
  .github/workflows/label_new_PR.yml
  .github/workflows/label_new_issue.yml
Labels: T.2 - Maintenance

#512 [MAINT] Add GitHub Actions workflow to automatically update `CITATION.cff` version after release
  .github/release.yml
  .github/workflows/update_citation_cff.yml
  .github/workflows/validate_citation_cff.yml
  CITATION.cff
Labels: T.2 - Maintenance

#521 [MAINT] Clean up `.gitignore`
  .gitignore
Labels: T.2 - Maintenance
