Repository nipoppy/nipoppy, pull requests merged in 2025-03, with the labels that each got.

#489 [DOC] Add "how-to" guide for dataset initialization
  docs/source/conf.py
  docs/source/how_to_guides/init/bids.md
  docs/source/how_to_guides/init/index.md
  docs/source/how_to_guides/init/non_bids.md
  docs/source/index.md
  pyproject.toml
Labels: T.3 - Documentation

#529 [DOC] Add a CLI reference page for `nipoppy status`
  docs/source/cli_reference/index.rst
  docs/source/cli_reference/status.rst
  nipoppy/workflows/__init__.py
Labels: T.3 - Documentation

#526 [DOC] Add tooltips for glossary terms
  docs/source/conf.py
  pyproject.toml
Labels: T.3 - Documentation

#525 [DOC] Do not include extractor scripts in autodocs
  docs/source/conf.py
Labels: T.3 - Documentation

#524 [DOC] Add external link checking for docs build + fix broken links
  .readthedocs.yaml
  docs/Makefile
  docs/source/glossary.md
  docs/source/user_guide/processing.md
Labels: T.3 - Documentation

#497 [ENH] Make `--hpc` available for `nipoppy bidsify` and `nipoppy extract` too
  nipoppy/cli.py
  nipoppy/config/pipeline.py
  nipoppy/data/examples/sample_global_config-all_pipelines.json
  nipoppy/data/examples/sample_global_config-latest_pipelines.json
  nipoppy/data/hpc/job_script_template.sh
  nipoppy/workflows/bids_conversion.py
  nipoppy/workflows/extractor.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/runner.py
  tests/test_config_pipeline.py
  tests/test_workflow_bids_conversion.py
  tests/test_workflow_extractor.py
  tests/test_workflow_pipeline.py
  tests/test_workflow_runner.py
Labels: T.1 - Enhancement

#536 [MAINT] Add CI workflow for Read the docs preview link
  .github/workflows/add_doc_link_to_pr.yaml
Labels: T.2 - Maintenance

#534 [ENH] Add `bids-validator` `2.0.3`
  nipoppy/data/examples/sample_global_config-all_pipelines.json
  nipoppy/data/examples/sample_global_config-latest_pipelines.json
  nipoppy/data/examples/sample_pipelines/bids-validator-2.0.3/descriptor.json
  nipoppy/data/examples/sample_pipelines/bids-validator-2.0.3/invocation.json
  tests/test_default_config.py
Labels: T.1 - Enhancement, pipeline catalog

#491 [ENH] group options in cli help.
  nipoppy/cli.py
Labels: T.1 - Enhancement

#540 [ENH] Print container-pulling command and change global config container substitution
  nipoppy/data/examples/sample_global_config-all_pipelines.json
  nipoppy/data/examples/sample_global_config-latest_pipelines.json
  nipoppy/workflows/pipeline.py
  tests/test_workflow_pipeline.py
Labels: T.1 - Enhancement

#548 [ENH] Add `PIPELINE_VARIABLES` to global config
  nipoppy/config/main.py
  nipoppy/config/pipeline.py
  nipoppy/data/examples/sample_global_config.json
  nipoppy/data/examples/sample_pipelines/bids/bidscoin-4.3.2/config.json
  nipoppy/data/examples/sample_pipelines/bids/dcm2bids-3.1.0/config.json
  nipoppy/data/examples/sample_pipelines/bids/dcm2bids-3.2.0/config.json
  nipoppy/data/examples/sample_pipelines/bids/heudiconv-0.12.2/config.json
  nipoppy/data/examples/sample_pipelines/extraction/fs_stats-0.2.0/config.json
  nipoppy/data/examples/sample_pipelines/extraction/static_FC-0.1.0/config.json
  nipoppy/data/examples/sample_pipelines/proc/fmriprep-20.2.7/config.json
  nipoppy/data/examples/sample_pipelines/proc/fmriprep-23.1.3/config.json
  nipoppy/data/examples/sample_pipelines/proc/fmriprep-24.1.1/config.json
  nipoppy/data/examples/sample_pipelines/proc/freesurfer-6.0.1/config.json
  nipoppy/data/examples/sample_pipelines/proc/freesurfer-7.3.2/config.json
  nipoppy/data/examples/sample_pipelines/proc/mriqc-23.1.0/config.json
  nipoppy/data/examples/sample_pipelines/proc/qsiprep-0.23.0/config.json
  nipoppy/env.py
  nipoppy/workflows/pipeline.py
  tests/conftest.py
  tests/test_config_main.py
  tests/test_config_pipeline.py
  tests/test_default_config.py
  tests/test_workflow_pipeline.py
Labels: T.1 - Enhancement

#553 [ENH] Deprecate `DATASET_NAME`, `VISIT_IDS` and `SESSION_IDS` fields from `Config`
  docs/Makefile
  nipoppy/config/main.py
  nipoppy/data/examples/sample_global_config.json
  nipoppy/workflows/base.py
  nipoppy/workflows/dataset_status.py
  tests/conftest.py
  tests/data/config1.json
  tests/data/config2.json
  tests/data/config3.json
  tests/data/config_invalid1.json
  tests/data/config_invalid2.json
  tests/test_config_main.py
  tests/test_workflow_base.py
  tests/test_workflow_dicom_reorg.py
  tests/test_workflow_doughnut.py
  tests/test_workflow_pipeline.py
  tests/test_workflow_runner.py
  tests/test_workflow_tracker.py
Labels: T.1 - Enhancement

#560 [ENH] Force pipeline step config files to only have relative paths
  nipoppy/config/pipeline.py
  nipoppy/config/pipeline_step.py
  nipoppy/data/examples/sample_pipelines/bidsification/bidscoin-4.3.2/config.json
  nipoppy/data/examples/sample_pipelines/bidsification/dcm2bids-3.1.0/config.json
  nipoppy/data/examples/sample_pipelines/bidsification/dcm2bids-3.2.0/config.json
  nipoppy/data/examples/sample_pipelines/bidsification/heudiconv-0.12.2/config.json
  nipoppy/data/examples/sample_pipelines/extraction/fs_stats-0.2.0/config.json
  nipoppy/data/examples/sample_pipelines/extraction/static_FC-0.1.0/config.json
  nipoppy/data/examples/sample_pipelines/processing/fmriprep-20.2.7/config.json
  nipoppy/data/examples/sample_pipelines/processing/fmriprep-23.1.3/config.json
  nipoppy/data/examples/sample_pipelines/processing/fmriprep-24.1.1/config.json
  nipoppy/data/examples/sample_pipelines/processing/freesurfer-6.0.1/config.json
  nipoppy/data/examples/sample_pipelines/processing/freesurfer-7.3.2/config.json
  nipoppy/data/examples/sample_pipelines/processing/mriqc-23.1.0/config.json
  nipoppy/data/examples/sample_pipelines/processing/qsiprep-0.23.0/config.json
  nipoppy/layout.py
  nipoppy/workflows/bids_conversion.py
  nipoppy/workflows/extractor.py
  nipoppy/workflows/pipeline.py
  tests/conftest.py
  tests/test_config_pipeline.py
  tests/test_config_pipeline_step.py
  tests/test_default_config.py
  tests/test_layout.py
  tests/test_workflow_extractor.py
  tests/test_workflow_pipeline.py
  tests/test_workflow_runner.py
  tests/test_workflow_tracker.py
Labels: T.1 - Enhancement

#550 [ENH] Improve `fs_stats` extractor pipeline
  nipoppy/data/examples/sample_global_config-all_pipelines.json
  nipoppy/data/examples/sample_global_config-latest_pipelines.json
  nipoppy/data/examples/sample_pipelines/fs_stats-0.2.1/descriptor.json
  nipoppy/data/examples/sample_pipelines/fs_stats-0.2.1/fs_stats.py
  nipoppy/data/examples/sample_pipelines/fs_stats-0.2.1/invocation.json
  nipoppy/data/examples/sample_pipelines/fs_stats-0.2.1/requirements.txt
  tests/test_default_config.py
Labels: T.1 - Enhancement

#556 [ENH] Split `BaseWorkflow` into `BaseWorkflow` and `BaseDatasetWorkflow`
  nipoppy/env.py
  nipoppy/workflows/__init__.py
  nipoppy/workflows/base.py
  nipoppy/workflows/dataset_init.py
  nipoppy/workflows/dataset_status.py
  nipoppy/workflows/dicom_reorg.py
  nipoppy/workflows/doughnut.py
  nipoppy/workflows/pipeline.py
  tests/test_workflow_base.py
  tests/test_workflow_dataset.py
Labels: T.1 - Enhancement
