Repository nipoppy/nipoppy, pull requests merged in 2025-01, with the labels that each got.

#459 [DOC] Add Plausible analytics
  docs/source/conf.py
Labels: T.3 - Documentation

#443 [BUG] Make `PipelineRunner` exit/throw exception if container is specified but not found
  nipoppy/workflows/runner.py
  tests/test_workflow_runner.py
Labels: T.0 - Bug

#442 [BUG] Fix wrong container config being used in runners
  nipoppy/workflows/runner.py
  tests/test_workflow_runner.py
Labels: T.0 - Bug

#466 [ENH] Make trackers handle tarball in pipeline output
  nipoppy/workflows/tracker.py
  tests/test_workflow_tracker.py
Labels: T.1 - Enhancement

#467 [ENH] Improve `DicomReorgWorkflow` customization flexibility and logging
  nipoppy/workflows/dicom_reorg.py
  tests/test_workflow_dicom_reorg.py
Labels: T.1 - Enhancement

#462 [ENH] Add flag for writing HPC participant-session list
  nipoppy/cli/parser.py
  nipoppy/workflows/bids_conversion.py
  nipoppy/workflows/extractor.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/runner.py
  tests/test_workflow_pipeline.py
Labels: T.1 - Enhancement

#471 [BUG] Update Heudiconv descriptor and invocation files
  nipoppy/data/examples/sample_pipelines/heudiconv-0.12.2/descriptor.json
  nipoppy/data/examples/sample_pipelines/heudiconv-0.12.2/invocation-convert.json
  nipoppy/data/examples/sample_pipelines/heudiconv-0.12.2/invocation-prepare.json
Labels: T.0 - Bug

#413 [ENH] Add static FC extractor
  nipoppy/data/examples/sample_global_config-all_pipelines.json
  nipoppy/data/examples/sample_global_config-latest_pipelines.json
  nipoppy/data/examples/sample_pipelines/static_FC-0.1.0/descriptor.json
  nipoppy/data/examples/sample_pipelines/static_FC-0.1.0/invocation.json
  nipoppy/data/examples/sample_pipelines/static_FC-0.1.0/requirements.txt
  nipoppy/data/examples/sample_pipelines/static_FC-0.1.0/script.py
  tests/test_default_config.py
Labels: T.1 - Enhancement, pipeline catalog

#478 [ENH] Add "symlink" option to init
  nipoppy/cli/parser.py
  nipoppy/workflows/dataset_init.py
  tests/test_parser.py
  tests/test_workflow_init.py
Labels: T.1 - Enhancement

#444 [MAINT] Refactor CLI to use Click
  docs/source/cli_reference/bidsify.md
  docs/source/cli_reference/bidsify.rst
  docs/source/cli_reference/doughnut.md
  docs/source/cli_reference/doughnut.rst
  docs/source/cli_reference/extract.md
  docs/source/cli_reference/extract.rst
  docs/source/cli_reference/index.md
  docs/source/cli_reference/index.rst
  docs/source/cli_reference/init.md
  docs/source/cli_reference/init.rst
  docs/source/cli_reference/reorg.md
  docs/source/cli_reference/reorg.rst
  docs/source/cli_reference/run.md
  docs/source/cli_reference/run.rst
  docs/source/cli_reference/track.md
  docs/source/cli_reference/track.rst
  docs/source/conf.py
  docs/source/glossary.md
  docs/source/quickstart.md
  docs/source/user_guide/bids_conversion.md
  docs/source/user_guide/organizing_imaging.md
  docs/source/user_guide/populating.md
  docs/source/user_guide/processing.md
  docs/source/user_guide/tracking.md
  nipoppy/cli.py
  nipoppy/cli/__init__.py
  nipoppy/cli/parser.py
  nipoppy/cli/run.py
  nipoppy/env.py
  nipoppy/layout.py
  nipoppy/logger.py
  nipoppy/workflows/base.py
  nipoppy/workflows/bids_conversion.py
  nipoppy/workflows/dataset_init.py
  nipoppy/workflows/dataset_status.py
  nipoppy/workflows/dicom_reorg.py
  nipoppy/workflows/doughnut.py
  nipoppy/workflows/extractor.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/runner.py
  nipoppy/workflows/tracker.py
  pyproject.toml
  tests/test_cli.py
  tests/test_env.py
  tests/test_parser.py
  tests/test_workflow_base.py
  tests/test_workflow_bids_conversion.py
  tests/test_workflow_init.py
  tests/test_workflow_tracker.py
Labels: T.2 - Maintenance
