Repository nipoppy/nipoppy, pull requests merged in 2025-04, with the labels that each got.

#580 [MAINT] Fix dependabot username in `release.yml`
  .github/release.yml
Labels: T.2 - Maintenance

#558 [ENH] Add `nipoppy pipeline validate` command
  nipoppy/cli.py
  nipoppy/config/main.py
  nipoppy/env.py
  nipoppy/pipeline_store/__init__.py
  nipoppy/pipeline_store/validation.py
  nipoppy/workflows/__init__.py
  nipoppy/workflows/pipeline_store/__init__.py
  nipoppy/workflows/pipeline_store/validate.py
  tests/data/descriptor-invalid.json
  tests/data/descriptor-valid.json
  tests/data/empty_file.txt
  tests/data/invocation-invalid.json
  tests/data/invocation-valid.json
  tests/data/pipeline_config-invalid.json
  tests/data/pipeline_config-valid.json
  tests/data/pybids_ignore-valid.json
  tests/data/tracker_config-invalid.json
  tests/data/tracker_config-valid.json
  tests/test_cli.py
  tests/test_config_boutiques.py
  tests/test_config_container.py
  tests/test_config_main.py
  tests/test_config_pipeline.py
  tests/test_config_pipeline_step.py
  tests/test_config_tracker.py
  tests/test_env.py
  tests/test_pipeline_store_validation.py
  tests/test_tabular_bagel.py
  tests/test_workflow_pipeline_store_validate.py
Labels: T.1 - Enhancement

#537 [ENH] Remove special handling of SGE jobs (PySQA >= 0.2.4)
  nipoppy/workflows/pipeline.py
  pyproject.toml
  tests/test_workflow_pipeline.py
Labels: T.1 - Enhancement

#589 [FIX] Remove `-cwd` from SGE template script
  nipoppy/data/hpc/job_script_template.sh
  nipoppy/workflows/pipeline.py
  tests/test_workflow_pipeline.py
Labels: T.0 - Bug

#566 [ENH] Add `nipoppy pipeline install` command
  nipoppy/cli.py
  nipoppy/config/main.py
  nipoppy/config/pipeline.py
  nipoppy/data/examples/sample_pipelines/bidsification/dcm2bids-3.1.0/config.json
  nipoppy/data/examples/sample_pipelines/bidsification/dcm2bids-3.2.0/config.json
  nipoppy/data/examples/sample_pipelines/bidsification/heudiconv-0.12.2/config.json
  nipoppy/data/examples/sample_pipelines/extraction/fs_stats-0.2.0/config.json
  nipoppy/data/examples/sample_pipelines/processing/fmriprep-20.2.7/config.json
  nipoppy/data/examples/sample_pipelines/processing/fmriprep-23.1.3/config.json
  nipoppy/data/examples/sample_pipelines/processing/fmriprep-24.1.1/config.json
  nipoppy/data/examples/sample_pipelines/processing/mriqc-23.1.0/config.json
  nipoppy/data/examples/sample_pipelines/processing/qsiprep-0.23.0/config.json
  nipoppy/workflows/__init__.py
  nipoppy/workflows/base.py
  nipoppy/workflows/pipeline.py
  nipoppy/workflows/pipeline_store/install.py
  tests/data/config3.json
  tests/test_cli.py
  tests/test_config_main.py
  tests/test_config_pipeline.py
  tests/test_default_config.py
  tests/test_workflow_pipeline.py
  tests/test_workflow_pipeline_store_install.py
Labels: T.1 - Enhancement, pipeline catalog

#506 [ENH] api to download and upload pipelines from zenodo.
  .github/workflows/run_tests.yml
  .gitignore
  nipoppy/cli.py
  nipoppy/utils.py
  nipoppy/workflows/dataset_init.py
  nipoppy/workflows/zenodo.py
  nipoppy/zenodo_api.py
  pyproject.toml
  tests/conftest.py
  tests/data/fmriprep-24.1.1/config.json
  tests/data/fmriprep-24.1.1/descriptor.json
  tests/data/fmriprep-24.1.1/invocation.json
  tests/data/fmriprep-24.1.1/tracker_config.json
  tests/data/fmriprep-24.1.1/zenodo.json
  tests/test_cli.py
  tests/test_workflow_zenodo.py
  tests/test_zenodo_api.py
Labels: T.1 - Enhancement

#598 [FIX] Fix Zenodo keywords not being set correctly
  nipoppy/workflows/zenodo.py
  tests/test_workflow_zenodo.py
Labels: T.0 - Bug

#602 [ENH] Add schema version to Zenodo record keywords (and pipeline config files)
  nipoppy/config/pipeline.py
  nipoppy/data/examples/sample_pipelines/bidsification/bidscoin-4.3.2/config.json
  nipoppy/data/examples/sample_pipelines/bidsification/dcm2bids-3.1.0/config.json
  nipoppy/data/examples/sample_pipelines/bidsification/dcm2bids-3.2.0/config.json
  nipoppy/data/examples/sample_pipelines/bidsification/heudiconv-0.12.2/config.json
  nipoppy/data/examples/sample_pipelines/extraction/fs_stats-0.2.1/config.json
  nipoppy/data/examples/sample_pipelines/extraction/static_FC-0.1.0/config.json
  nipoppy/data/examples/sample_pipelines/processing/bids-validator-2.0.3/config.json
  nipoppy/data/examples/sample_pipelines/processing/fmriprep-20.2.7/config.json
  nipoppy/data/examples/sample_pipelines/processing/fmriprep-23.1.3/config.json
  nipoppy/data/examples/sample_pipelines/processing/fmriprep-24.1.1/config.json
  nipoppy/data/examples/sample_pipelines/processing/freesurfer-6.0.1/config.json
  nipoppy/data/examples/sample_pipelines/processing/freesurfer-7.3.2/config.json
  nipoppy/data/examples/sample_pipelines/processing/mriqc-23.1.0/config.json
  nipoppy/data/examples/sample_pipelines/processing/qsiprep-0.23.0/config.json
  nipoppy/env.py
  nipoppy/workflows/zenodo.py
  tests/conftest.py
  tests/data/fmriprep-24.1.1/config.json
  tests/data/pipeline_config-valid.json
  tests/test_config_main.py
  tests/test_config_pipeline.py
  tests/test_pipeline_store_validation.py
  tests/test_workflow_pipeline.py
  tests/test_workflow_pipeline_store_install.py
  tests/test_workflow_zenodo.py
  tests/test_zenodo_api.py
Labels: T.1 - Enhancement

#599 [ENH] Implement `nipoppy pipeline search`
  nipoppy/cli.py
  nipoppy/workflows/dataset_status.py
  nipoppy/workflows/pipeline_store/search.py
  nipoppy/zenodo_api.py
  tests/test_cli.py
  tests/test_workflow_pipeline_store_search.py
  tests/test_zenodo_api.py
Labels: T.1 - Enhancement

#594 [ENH] Merge `nipoppy pipeline download` into `nipoppy pipeline install`
  nipoppy/cli.py
  nipoppy/data/examples/sample_global_config.json
  nipoppy/workflows/base.py
  nipoppy/workflows/pipeline_store/install.py
  nipoppy/workflows/pipeline_store/zenodo.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_workflow_pipeline_store_install.py
  tests/test_workflow_runner.py
  tests/test_workflow_zenodo.py
Labels: T.1 - Enhancement

#601 [ENH] Automatically impute Zenodo record creator information
  nipoppy/workflows/pipeline_store/zenodo.py
  nipoppy/zenodo_api.py
  tests/test_zenodo_api.py
Labels: T.1 - Enhancement

#570 [ENH] Add `nipoppy pipeline list` command
  nipoppy/cli.py
  nipoppy/workflows/__init__.py
  nipoppy/workflows/pipeline_store/list.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_workflow_bids_conversion.py
  tests/test_workflow_extractor.py
  tests/test_workflow_pipeline.py
  tests/test_workflow_pipeline_store_install.py
  tests/test_workflow_pipeline_store_list.py
  tests/test_workflow_runner.py
  tests/test_workflow_tracker.py
Labels: T.1 - Enhancement

#609 [BUG] delete --regenerate flag from rich_click.OPTION_GROUPS
  nipoppy/cli.py
Labels: T.0 - Bug

#605 [FIX] Restore substitutions behaviour for backward-compatibility
  docs/source/how_to_guides/init/non_bids.md
  nipoppy/workflows/pipeline.py
  tests/test_workflow_pipeline.py
Labels: T.0 - Bug

#590 [ENH] Move HPC configs to separate JSON files
  nipoppy/config/pipeline.py
  nipoppy/config/pipeline_step.py
  nipoppy/data/examples/sample_global_config-all_pipelines.json
  nipoppy/data/examples/sample_global_config-latest_pipelines.json
  nipoppy/data/examples/sample_pipelines/bids-validator-2.0.3/hpc_config.json
  nipoppy/data/examples/sample_pipelines/bidscoin-4.3.2/hpc_config.json
  nipoppy/data/examples/sample_pipelines/dcm2bids-3.1.0/hpc_config.json
  nipoppy/data/examples/sample_pipelines/dcm2bids-3.2.0/hpc_config.json
  nipoppy/data/examples/sample_pipelines/fmriprep-20.2.7/hpc_config.json
  nipoppy/data/examples/sample_pipelines/fmriprep-23.1.3/hpc_config.json
  nipoppy/data/examples/sample_pipelines/fmriprep-24.1.1/hpc_config.json
  nipoppy/data/examples/sample_pipelines/fs_stats-0.2.1/hpc_config.json
  nipoppy/data/examples/sample_pipelines/heudiconv-0.12.2/hpc_config.json
  nipoppy/data/examples/sample_pipelines/mriqc-23.1.0/hpc_config.json
  nipoppy/data/examples/sample_pipelines/qsiprep-0.23.0/hpc_config.json
  nipoppy/data/examples/sample_pipelines/static_FC-0.1.0/hpc_config.json
  nipoppy/workflows/pipeline.py
  tests/test_config_pipeline.py
  tests/test_config_pipeline_step.py
  tests/test_default_config.py
  tests/test_workflow_pipeline.py
Labels: T.1 - Enhancement
